<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ab_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{57,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,154}</string>
                <key>textureRect</key>
                <string>{{812,1},{57,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ab_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{130,154}</string>
                <key>textureRect</key>
                <string>{{505,100},{80,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ab_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{79,96}</string>
                <key>spriteSourceSize</key>
                <string>{127,154}</string>
                <key>textureRect</key>
                <string>{{513,1},{79,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ab_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-1}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{373,102},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ab_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-1}</string>
                <key>spriteSize</key>
                <string>{60,106}</string>
                <key>spriteSourceSize</key>
                <string>{126,154}</string>
                <key>textureRect</key>
                <string>{{76,111},{60,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ab_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-2}</string>
                <key>spriteSize</key>
                <string>{57,104}</string>
                <key>spriteSourceSize</key>
                <string>{125,154}</string>
                <key>textureRect</key>
                <string>{{135,1},{57,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ab_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{53,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,154}</string>
                <key>textureRect</key>
                <string>{{420,202},{53,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ab_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{51,92}</string>
                <key>spriteSourceSize</key>
                <string>{107,154}</string>
                <key>textureRect</key>
                <string>{{1063,95},{51,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ab_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,1}</string>
                <key>spriteSize</key>
                <string>{59,94}</string>
                <key>spriteSourceSize</key>
                <string>{165,154}</string>
                <key>textureRect</key>
                <string>{{706,196},{59,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>af_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{46,97}</string>
                <key>spriteSourceSize</key>
                <string>{90,141}</string>
                <key>textureRect</key>
                <string>{{465,1},{46,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>af_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{101,91}</string>
                <key>spriteSourceSize</key>
                <string>{129,141}</string>
                <key>textureRect</key>
                <string>{{194,1},{101,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>af_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{130,141}</string>
                <key>textureRect</key>
                <string>{{278,104},{100,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>af_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{129,141}</string>
                <key>textureRect</key>
                <string>{{684,99},{95,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>af_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{73,113}</string>
                <key>spriteSourceSize</key>
                <string>{117,141}</string>
                <key>textureRect</key>
                <string>{{1,122},{73,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>af_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{71,119}</string>
                <key>spriteSourceSize</key>
                <string>{129,141}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>af_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{82,103}</string>
                <key>spriteSourceSize</key>
                <string>{136,141}</string>
                <key>textureRect</key>
                <string>{{138,107},{82,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>af_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{80,99}</string>
                <key>spriteSourceSize</key>
                <string>{124,141}</string>
                <key>textureRect</key>
                <string>{{336,1},{80,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>af_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,7}</string>
                <key>spriteSize</key>
                <string>{48,95}</string>
                <key>spriteSourceSize</key>
                <string>{146,141}</string>
                <key>textureRect</key>
                <string>{{691,1},{48,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{54,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,117}</string>
                <key>textureRect</key>
                <string>{{222,104},{54,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-309,0}</string>
                <key>spriteSize</key>
                <string>{84,65}</string>
                <key>spriteSourceSize</key>
                <string>{770,117}</string>
                <key>textureRect</key>
                <string>{{1082,189},{84,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>df_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{56,97}</string>
                <key>spriteSourceSize</key>
                <string>{104,117}</string>
                <key>textureRect</key>
                <string>{{447,101},{56,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>df_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{146,117}</string>
                <key>textureRect</key>
                <string>{{74,1},{108,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{54,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,117}</string>
                <key>textureRect</key>
                <string>{{222,104},{54,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{56,97}</string>
                <key>spriteSourceSize</key>
                <string>{104,117}</string>
                <key>textureRect</key>
                <string>{{447,101},{56,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{57,94}</string>
                <key>spriteSourceSize</key>
                <string>{107,144}</string>
                <key>textureRect</key>
                <string>{{839,97},{57,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{57,94}</string>
                <key>spriteSourceSize</key>
                <string>{105,144}</string>
                <key>textureRect</key>
                <string>{{871,1},{57,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{57,92}</string>
                <key>spriteSourceSize</key>
                <string>{107,144}</string>
                <key>textureRect</key>
                <string>{{1028,1},{57,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,144}</string>
                <key>textureRect</key>
                <string>{{988,193},{58,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sb_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{58,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,144}</string>
                <key>textureRect</key>
                <string>{{610,197},{58,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sb_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-243,-7}</string>
                <key>spriteSize</key>
                <string>{57,96}</string>
                <key>spriteSourceSize</key>
                <string>{595,144}</string>
                <key>textureRect</key>
                <string>{{512,198},{57,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{47,96}</string>
                <key>spriteSourceSize</key>
                <string>{101,144}</string>
                <key>textureRect</key>
                <string>{{587,99},{47,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{47,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,144}</string>
                <key>textureRect</key>
                <string>{{594,1},{47,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sf_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{47,94}</string>
                <key>spriteSourceSize</key>
                <string>{119,144}</string>
                <key>textureRect</key>
                <string>{{948,97},{47,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sf_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{48,94}</string>
                <key>spriteSourceSize</key>
                <string>{106,144}</string>
                <key>textureRect</key>
                <string>{{898,97},{48,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sf_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{49,96}</string>
                <key>spriteSourceSize</key>
                <string>{105,144}</string>
                <key>textureRect</key>
                <string>{{322,206},{49,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sf_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-242,-1}</string>
                <key>spriteSize</key>
                <string>{48,98}</string>
                <key>spriteSourceSize</key>
                <string>{596,144}</string>
                <key>textureRect</key>
                <string>{{222,207},{48,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{69,94}</string>
                <key>spriteSourceSize</key>
                <string>{135,164}</string>
                <key>textureRect</key>
                <string>{{741,1},{69,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{64,92}</string>
                <key>spriteSourceSize</key>
                <string>{118,164}</string>
                <key>textureRect</key>
                <string>{{997,97},{64,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{58,88}</string>
                <key>spriteSourceSize</key>
                <string>{134,164}</string>
                <key>textureRect</key>
                <string>{{1116,93},{58,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{58,90}</string>
                <key>spriteSourceSize</key>
                <string>{138,164}</string>
                <key>textureRect</key>
                <string>{{1087,1},{58,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wb_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{59,92}</string>
                <key>spriteSourceSize</key>
                <string>{119,164}</string>
                <key>textureRect</key>
                <string>{{894,193},{59,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wb_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{58,94}</string>
                <key>spriteSourceSize</key>
                <string>{116,164}</string>
                <key>textureRect</key>
                <string>{{779,97},{58,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wb_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-115,1}</string>
                <key>spriteSize</key>
                <string>{60,90}</string>
                <key>spriteSourceSize</key>
                <string>{370,164}</string>
                <key>textureRect</key>
                <string>{{802,193},{60,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{46,96}</string>
                <key>spriteSourceSize</key>
                <string>{106,144}</string>
                <key>textureRect</key>
                <string>{{636,99},{46,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{45,98}</string>
                <key>spriteSourceSize</key>
                <string>{137,144}</string>
                <key>textureRect</key>
                <string>{{418,1},{45,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5}</string>
                <key>spriteSize</key>
                <string>{47,100}</string>
                <key>spriteSourceSize</key>
                <string>{147,144}</string>
                <key>textureRect</key>
                <string>{{287,1},{47,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-6}</string>
                <key>spriteSize</key>
                <string>{46,96}</string>
                <key>spriteSourceSize</key>
                <string>{122,144}</string>
                <key>textureRect</key>
                <string>{{643,1},{46,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-5}</string>
                <key>spriteSize</key>
                <string>{46,94}</string>
                <key>spriteSourceSize</key>
                <string>{134,144}</string>
                <key>textureRect</key>
                <string>{{980,1},{46,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{102,144}</string>
                <key>textureRect</key>
                <string>{{1147,1},{48,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131,-4}</string>
                <key>spriteSize</key>
                <string>{48,94}</string>
                <key>spriteSourceSize</key>
                <string>{382,144}</string>
                <key>textureRect</key>
                <string>{{930,1},{48,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ezella.png</string>
            <key>size</key>
            <string>{1196,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93758e3193262fbaf46f4e65b466d010:897bc05c5cd01cfa618f02cfe5959c63:837c987c1bd50daec81de085c1932438$</string>
            <key>textureFileName</key>
            <string>ezella.png</string>
        </dict>
    </dict>
</plist>
