<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ab_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,1}</string>
                <key>spriteSize</key>
                <string>{65,79}</string>
                <key>spriteSourceSize</key>
                <string>{117,123}</string>
                <key>textureRect</key>
                <string>{{1,189},{65,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ab_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{64,75}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{728,104},{64,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ab_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{70,85}</string>
                <key>spriteSourceSize</key>
                <string>{104,123}</string>
                <key>textureRect</key>
                <string>{{495,181},{70,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ab_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,2}</string>
                <key>spriteSize</key>
                <string>{70,83}</string>
                <key>spriteSourceSize</key>
                <string>{146,123}</string>
                <key>textureRect</key>
                <string>{{737,170},{70,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>af_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{113,123}</string>
                <key>textureRect</key>
                <string>{{582,177},{77,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>af_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{108,123}</string>
                <key>textureRect</key>
                <string>{{345,181},{70,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>af_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{70,91}</string>
                <key>spriteSourceSize</key>
                <string>{94,123}</string>
                <key>textureRect</key>
                <string>{{1,96},{70,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>af_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,1}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{245,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-11}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{145,124}</string>
                <key>textureRect</key>
                <string>{{275,93},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-16}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{322,124}</string>
                <key>textureRect</key>
                <string>{{174,185},{84,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>df_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{61,90}</string>
                <key>spriteSourceSize</key>
                <string>{95,124}</string>
                <key>textureRect</key>
                <string>{{217,1},{61,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>df_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-183,-23}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{465,124}</string>
                <key>textureRect</key>
                <string>{{260,185},{83,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-11}</string>
                <key>spriteSize</key>
                <string>{59,88}</string>
                <key>spriteSourceSize</key>
                <string>{145,124}</string>
                <key>textureRect</key>
                <string>{{275,93},{59,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{61,90}</string>
                <key>spriteSourceSize</key>
                <string>{95,124}</string>
                <key>textureRect</key>
                <string>{{217,1},{61,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{45,88}</string>
                <key>spriteSourceSize</key>
                <string>{63,124}</string>
                <key>textureRect</key>
                <string>{{457,1},{45,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{56,88}</string>
                <key>spriteSourceSize</key>
                <string>{76,124}</string>
                <key>textureRect</key>
                <string>{{395,91},{56,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{56,88}</string>
                <key>spriteSourceSize</key>
                <string>{72,124}</string>
                <key>textureRect</key>
                <string>{{399,1},{56,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{57,88}</string>
                <key>spriteSourceSize</key>
                <string>{75,124}</string>
                <key>textureRect</key>
                <string>{{336,91},{57,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{57,88}</string>
                <key>spriteSourceSize</key>
                <string>{75,124}</string>
                <key>textureRect</key>
                <string>{{340,1},{57,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{58,88}</string>
                <key>spriteSourceSize</key>
                <string>{106,124}</string>
                <key>textureRect</key>
                <string>{{280,1},{58,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{68,124}</string>
                <key>textureRect</key>
                <string>{{217,93},{56,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{71,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,124}</string>
                <key>textureRect</key>
                <string>{{72,1},{71,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sf_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{69,90}</string>
                <key>spriteSourceSize</key>
                <string>{99,124}</string>
                <key>textureRect</key>
                <string>{{82,185},{69,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sf_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{145,1},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sf_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{69,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,124}</string>
                <key>textureRect</key>
                <string>{{146,93},{69,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sf_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{71,90}</string>
                <key>spriteSourceSize</key>
                <string>{123,124}</string>
                <key>textureRect</key>
                <string>{{73,93},{71,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{44,84}</string>
                <key>spriteSourceSize</key>
                <string>{68,124}</string>
                <key>textureRect</key>
                <string>{{682,87},{44,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{51,84}</string>
                <key>spriteSourceSize</key>
                <string>{77,124}</string>
                <key>textureRect</key>
                <string>{{730,1},{51,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{48,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,124}</string>
                <key>textureRect</key>
                <string>{{730,54},{48,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{49,86}</string>
                <key>spriteSourceSize</key>
                <string>{63,124}</string>
                <key>textureRect</key>
                <string>{{570,89},{49,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wb_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{45,88}</string>
                <key>spriteSourceSize</key>
                <string>{65,124}</string>
                <key>textureRect</key>
                <string>{{504,1},{45,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wb_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,8}</string>
                <key>spriteSize</key>
                <string>{54,86}</string>
                <key>spriteSourceSize</key>
                <string>{130,124}</string>
                <key>textureRect</key>
                <string>{{551,1},{54,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{57,86}</string>
                <key>spriteSourceSize</key>
                <string>{69,124}</string>
                <key>textureRect</key>
                <string>{{511,91},{57,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{59,84}</string>
                <key>spriteSourceSize</key>
                <string>{79,124}</string>
                <key>textureRect</key>
                <string>{{621,87},{59,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{59,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,124}</string>
                <key>textureRect</key>
                <string>{{669,1},{59,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{74,124}</string>
                <key>textureRect</key>
                <string>{{607,1},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{56,88}</string>
                <key>spriteSourceSize</key>
                <string>{78,124}</string>
                <key>textureRect</key>
                <string>{{453,91},{56,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{91,124}</string>
                <key>textureRect</key>
                <string>{{417,181},{71,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wf_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{84,124}</string>
                <key>textureRect</key>
                <string>{{665,173},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moonlight.png</string>
            <key>size</key>
            <string>{815,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bde9a76b1b789eb33613f4a3042fb1c:e7023a2e148135e9c9c03d4846129856:85f5afb367af6e75ff79880d497d5e9a$</string>
            <key>textureFileName</key>
            <string>moonlight.png</string>
        </dict>
    </dict>
</plist>
